## Import Statements and Read in Files

In [1]:
# Import Statements
import pandas as pd
import numpy as np

import geopy
from geopy.distance import geodesic

#### Import Dataset with UAS Locations in Standard Format that reference an AIRPORT (WITH bearing information)

2,812 total records

In [3]:
std_uas_airports = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/uas_latlong_standard_2812.csv')

In [4]:
std_uas_airports

,index,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,Airport_Latitude,Airport_Longitude,UAS_Latitude,UAS_Longitude
0,0,Aircraft observed alarge orange UAS with flash...,['3 NM NNW of CLE'],CLE,3.0,NNW,5.556,338,41.409407,-81.854691,41.455788,-81.879601
1,1,"Aircraft observed a UAS while at 5,000 feet 11...",['11 NM SSE of SLC'],SLC,11.0,SSE,20.372,158,40.788388,-111.977773,40.618259,-111.887586
2,2,"Aircraft observed a UAS while at 5,000 feet 11...",['11 NM SSE of SLC'],SLC,11.0,SSE,20.372,158,40.788388,-111.977773,40.618259,-111.887586
3,3,Aircraft observed a multi-colored UAS off the ...,['7NM E of SAN'],SAN,7.0,E,12.964,90,32.733556,-117.189667,32.733479,-117.051359
4,4,"Aircraft observed a triangular shaped, grey an...",['23NM SW of ORL'],ORL,23.0,SW,42.596,225,28.545462,-81.332930,28.273338,-81.639923
...,...,...,...,...,...,...,...,...,...,...,...,...
2807,2813,Aircraft reported a medium sized quad-copter U...,['3 NM SW of SAT'],SAT,3.0,SW,5.556,225,29.533958,-98.469057,29.498509,-98.509572
2808,2814,Aircraft reported a quad-copter UAS at 12 O'cl...,['10 NM SE of ADS'],ADS,10.0,SE,18.520,135,32.968556,-96.836444,32.850395,-96.696550
2809,2815,Aircraft reported a UAS 3 NM N of MMU while E ...,['3 NM N of MMU'],MMU,3.0,N,5.556,0,40.799338,-74.414889,40.849370,-74.414889
2810,2816,Aircraft reported a UAS sensor hit while N bou...,['21 NM NW of BXK'],BXK,21.0,NW,38.892,315,33.420417,-112.686181,33.668009,-112.982708
2811,2817,Aircraft reported an unidentified aerial pheno...,['29 NM SW of GCN'],GCN,29.0,SW,53.708,225,35.952361,-112.146972,35.609351,-112.566117

#### Import Dataset with UAS Locations in Standard Format that reference a NAVAID (WITH bearing information)

177 total records

In [5]:
std_uas_airports = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/uas_latlong_standard_navaid_177.csv')

In [6]:
std_uas_airports

,index,REMARKS,UAS_LOC,IDENT,Distance,Bearing,Distance_Kilometers,Bearing_Degrees,NAVAID_Longitude,NAVAID_Latitude,NAME_TXT,UAS_Latitude,UAS_Longitude
0,0,"Aircraft observed a UAS while NE bound at 3,00...",['10 NM NE of COL'],COL,10.0,NE,18.520,45,-74.159729,40.311641,COLTS NECK,40.429472,-74.005402
1,1,Aircraft observed a red UAS off the right wing...,['1 NM NE of CRI'],CRI,1.0,NE,1.852,45,-73.894446,40.612480,CANARSIE,40.624272,-73.878968
2,2,Aircraft observed a UAS 8 NM N of SBJ VOR. No ...,['8 NM N of SBJ'],SBJ,8.0,N,14.816,0,-74.741796,40.583053,SOLBERG,40.716474,-74.741796
3,3,Aircraft observed a gold colored UAS off the r...,['20 NM WNW of UBG'],UBG,20.0,WNW,37.040,293,-122.978171,45.353234,NEWBERG,45.482623,-123.414277
4,4,Aircraft observed a black and red UAS heading ...,['10 NM NNE ofRBV'],RBV,10.0,NNE,18.520,23,-74.495028,40.202410,ROBBINSVILLE,40.355907,-74.409843
...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,174,Aircraft reported a red UAS from theright side...,['8NM SWof OOD'],OOD,8.0,SW,14.816,225,-75.303024,39.636039,WOODSTOWN,39.541614,-75.424897
173,175,"Aircraft reported a small blue UAS, pass appro...",['30 NM NW of EWC'],EWC,30.0,NW,55.560,315,-80.211549,40.824941,ELLWOOD CITY,41.177757,-80.679758
174,176,"Aircraft reported a UAS at co-altitude of 9,00...",['14 NM S of TCH'],TCH,14.0,S,25.928,180,-111.981924,40.850256,WASATCH,40.616773,-111.981924
175,177,Aircraft reported a NMAC with a silver UAS whi...,['1 NM SE of PDZ'],PDZ,1.0,SE,1.852,135,-117.530009,33.918342,PARADISE,33.906535,-117.515850
176,178,From MOR: Aircraft reported a NMAC with a flat...,['5 NM ENE of DRK'],DRK,5.0,ENE,9.260,68,-112.480357,34.702560,DRAKE,34.733793,-112.386609