## Import needed libraries

In [1]:
import pandas as pd
import numpy as np

import geopy
from geopy.distance import geodesic

## Read in the Non-Standard UAS locations csv file

In [2]:
non_std = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/non-std_format_uas_loc.csv')
non_std

,REMARKS,UAS_LOC,IDENT,NAME,LATITUDE,LONGITUDE,ICAO_ID
0,Aircraft reported UAS activity while entering ...,['3NM SW ofIWA'],IWA,Phoenix-Mesa Gateway,33.307824,-111.655459,KIWA
1,Reported a UAS off the left side at 500 feet w...,['5 NM W of OPF'],OPF,Miami-Opa Locka Exec,25.907417,-80.278222,KOPF
2,Reported a black UAS off the left side of the ...,['5 NM E of SAN'],SAN,San Diego Intl,32.733556,-117.189667,KSAN
3,Aircraft reported UAS pass below aircraft whil...,['8 NM ESE of OAK'],OAK,Metro Oakland Intl,37.721250,-122.221139,KOAK
4,"Aircraft reported 3 large UAS at 3,000 feet 3....",['5 NM SW of HND'],HND,Henderson Exec,35.972861,-115.134444,KHND
...,...,...,...,...,...,...,...
789,Facility manager observed a UAS from the groun...,['3 NM N of EVV'],EVV,Evansville Rgnl,38.040806,-87.528500,KEVV
790,NWS Seal Beach Base personnel observed a UAS o...,['72 NM SW of SLI'],SLI,Los Alamitos AAF,33.790030,-118.051420,KSLI
791,"PIC reports aircraft struck a multi-colored, 2...",['1 NM E of ORD'],ORD,Chicago O'hare Intl,41.976629,-87.907253,KORD
792,2120 EDT / 0120 UTC 08/23/2021\r\nENY3961 advi...,['1 NM E of ORD'],ORD,Chicago O'hare Intl,41.976629,-87.907253,KORD
793,Aircraft observed two UAS off the left side wh...,['1 NM N of TPA'],TPA,Tampa Intl,27.975472,-82.533250,KTPA

## Find all the null values and put them in new dataframe

In [3]:
non_std1 = non_std[non_std['NAME'].isnull()]
non_std1 = non_std1.drop(['NAME', 'LATITUDE', 'LONGITUDE', 'ICAO_ID'], axis=1)

non_std1 # There are 37 records with no airports

,REMARKS,UAS_LOC,IDENT
73,FACSFAC VACAPES reports PIC reported a silver ...,['6NM E of RBX'],RBX
95,Reported a UAS 500 feet below aircraft while 3...,['3 NM E of OSI'],OSI
97,Reported a silver and white fixed wing UAS off...,['11 NM SW of OSI'],OSI
137,PIC reported a black rotary UAS 50 feet below ...,['2NM SW of PQF'],PQF
138,After departing RWY10 PIC reported a UAS below...,['3NM NE of TIST'],TIST
157,PIC reported a black and brown UAS 1-meter in ...,['10NM NW of CMK'],CMK
170,Forest Service Firehelicopter reported UASflew...,['7 NM NNE of DBL'],DBL
202,LUKE AFB called and advised of a UAS sighting ...,['20 NM SW of GBN'],GBN
219,"Reported NMAC with a black with red UAS, 4 to ...",['26 NM SE of JLI'],JLI
236,PIC reported a UASoff right side just below Ai...,['6NM NE of COL'],COL
238,"PIC reported a dark colored UAS 1,000 feet abo...",['10NM W of DPK'],DPK
295,Reported taking evasive action to avoid a UAS ...,['16 NM SW of BQS'],BQS
406,Pilot reported a black UAS pass below while NW...,['7NM ENE of OSI'],OSI
433,Pilot reported a white and orange UAS approxim...,['1NM WSW of RWY'],RWY
434,While Aircraft was operating in the pattern at...,['5NM N of RWY'],RWY
459,PIC reported UAS 300Ft below at 6000FT 7NM S o...,['7NM S of ELB'],ELB
477,PIC reported a quad copter UAS pass 200 feetin...,['10NM SE of FMG'],FMG
552,"Reported a white quad copter at 1,000 FT 4 N o...",['4 N of MUGU'],MUGU
572,PIC reported a black phantom DJI quad copter U...,['11NM ESE of BAE'],BAE
577,"Reported observing a black, Phantom style Quad...",['15NM WNW of OVR'],OVR
604,PIC reported a white UAS pass 500 feet belowwh...,['9NM E of ETXV'],ETXV
620,Reports a UAS 100 feet above the aircraft at 1...,['10 NM W of SIE'],SIE
659,Aircraft was possibly struck by a UAS while de...,['2 NM SE of OCN'],OCN
662,VFR aircraft observed a grey UAS off the 12 o'...,['3NM NE of HAR'],HAR
678,"PIC observed a black UAS with purple lights, 5...",['8NM NE of CME'],CME
689,FASFAC/VACAPES reported an aircraft observed a...,['29 NM NE of CCV'],CCV
714,VFR aircraft observed a UAS off the left side ...,['7NM N of FFU'],FFU
716,Aircraft (AIRTAC9) observed a UAS operating in...,['12 NM NW of UTI'],UTI
724,San Diego PD observed a UAS 1.5NM S of RWY 27 ...,['5NM S of RWY'],RWY
726,Security Guard observed a UAS pass overhead at...,['4 NM E of RWY'],RWY
730,LUF airspace manager reported to ZAB aircraft ...,['10 NM NW of TANK'],TANK
731,LUF airspace manager reported to ZAB aircraft ...,['13 NM SE of BUGG'],BUGG
736,Multiple aircraft observed multiple UAS off th...,['24 NM SW of DIA'],DIA
741,"MOR received at 16/0312. On 01/15/21 at 0117, ...",['30 NM NW of MQO'],MQO
762,TJGI reports an aircraft observed a red quad-c...,['3 NM W of TJIG'],TJIG
769,Massachusetts State PD notified the Tower pers...,['5 NM WSW of RWY'],RWY
770,Aircraft reported sensor hit at FL230 45 NM SE...,['45 NM SE of GBN'],GBN

## Read in the NAVAID dataset

In [4]:
navaid = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/NAVAID_Cleaned.csv')
navaid

       LONGITUDE   LATITUDE IDENT        NAME_TXT
0    -176.676024  51.871896   ADK   MOUNT MOFFETT
1    -151.744257  68.136626   AKP  ANAKTUVUK PASS
2    -149.960164  61.167868   TED       ANCHORAGE
3    -149.769204  61.255004   EDF       ELMENDORF
4    -159.597931  61.590169   ANI           ANIAK
...          ...        ...   ...             ...
1669 -156.788152  71.273426   BRW          BARROW
1670 -156.781302  71.282300   VIR     BROWERVILLE
1671  -75.164524  43.026523   UCA           UTICA
1672  -90.434470  40.937351   GBG       GALESBURG
1673 -104.804750  47.133380   GDV        GLENDIVE

[1674 rows x 4 columns]

## Join the NAVAID dataset with the remaining 37 records

In [5]:
join_uas_nav = pd.merge(non_std1, navaid, on='IDENT', how='left')
join_uas_nav # 25 records were successfully joined using the navaid dataset

,REMARKS,UAS_LOC,IDENT,LONGITUDE,LATITUDE,NAME_TXT
0,FACSFAC VACAPES reports PIC reported a silver ...,['6NM E of RBX'],RBX,-75.696939,35.920508,WRIGHT BROTHERS
1,Reported a UAS 500 feet below aircraft while 3...,['3 NM E of OSI'],OSI,-122.281316,37.392505,WOODSIDE
2,Reported a silver and white fixed wing UAS off...,['11 NM SW of OSI'],OSI,-122.281316,37.392505,WOODSIDE
3,PIC reported a black rotary UAS 50 feet below ...,['2NM SW of PQF'],PQF,-96.529127,32.809373,MESQUITE
4,After departing RWY10 PIC reported a UAS below...,['3NM NE of TIST'],TIST,NaN,NaN,NaN
5,PIC reported a black and brown UAS 1-meter in ...,['10NM NW of CMK'],CMK,-73.581330,41.280102,CARMEL
6,Forest Service Firehelicopter reported UASflew...,['7 NM NNE of DBL'],DBL,-106.894691,39.439352,RED TABLE
7,LUKE AFB called and advised of a UAS sighting ...,['20 NM SW of GBN'],GBN,-112.674283,32.956263,GILA BEND
8,"Reported NMAC with a black with red UAS, 4 to ...",['26 NM SE of JLI'],JLI,-116.585947,33.140463,JULIAN
9,PIC reported a UASoff right side just below Ai...,['6NM NE of COL'],COL,-74.159729,40.311641,COLTS NECK
10,"PIC reported a dark colored UAS 1,000 feet abo...",['10NM W of DPK'],DPK,-73.303659,40.791758,DEER PARK
11,Reported taking evasive action to avoid a UAS ...,['16 NM SW of BQS'],BQS,-93.875285,39.630563,BRAYMER
12,Pilot reported a black UAS pass below while NW...,['7NM ENE of OSI'],OSI,-122.281316,37.392505,WOODSIDE
13,Pilot reported a white and orange UAS approxim...,['1NM WSW of RWY'],RWY,NaN,NaN,NaN
14,While Aircraft was operating in the pattern at...,['5NM N of RWY'],RWY,NaN,NaN,NaN
15,PIC reported UAS 300Ft below at 6000FT 7NM S o...,['7NM S of ELB'],ELB,-117.731096,33.676035,EL TORO
16,PIC reported a quad copter UAS pass 200 feetin...,['10NM SE of FMG'],FMG,-119.656084,39.531270,MUSTANG
17,"Reported a white quad copter at 1,000 FT 4 N o...",['4 N of MUGU'],MUGU,NaN,NaN,NaN
18,PIC reported a black phantom DJI quad copter U...,['11NM ESE of BAE'],BAE,-88.284351,43.116861,BADGER
19,"Reported observing a black, Phantom style Quad...",['15NM WNW of OVR'],OVR,-95.736861,41.167174,OMAHA
20,PIC reported a white UAS pass 500 feet belowwh...,['9NM E of ETXV'],ETXV,NaN,NaN,NaN
21,Reports a UAS 100 feet above the aircraft at 1...,['10 NM W of SIE'],SIE,-74.800345,39.095517,SEA ISLE
22,Aircraft was possibly struck by a UAS while de...,['2 NM SE of OCN'],OCN,-117.417733,33.240639,OCEANSIDE
23,VFR aircraft observed a grey UAS off the 12 o'...,['3NM NE of HAR'],HAR,-77.069561,40.302248,HARRISBURG
24,"PIC observed a black UAS with purple lights, 5...",['8NM NE of CME'],CME,-104.621255,33.337484,CHISUM
25,FASFAC/VACAPES reported an aircraft observed a...,['29 NM NE of CCV'],CCV,-75.997655,37.347546,CAPE CHARLES
26,VFR aircraft observed a UAS off the left side ...,['7NM N of FFU'],FFU,-111.940543,40.274901,FAIRFIELD
27,Aircraft (AIRTAC9) observed a UAS operating in...,['12 NM NW of UTI'],UTI,-113.517912,37.017625,ST GEORGE
28,San Diego PD observed a UAS 1.5NM S of RWY 27 ...,['5NM S of RWY'],RWY,NaN,NaN,NaN
29,Security Guard observed a UAS pass overhead at...,['4 NM E of RWY'],RWY,NaN,NaN,NaN
30,LUF airspace manager reported to ZAB aircraft ...,['10 NM NW of TANK'],TANK,NaN,NaN,NaN
31,LUF airspace manager reported to ZAB aircraft ...,['13 NM SE of BUGG'],BUGG,NaN,NaN,NaN
32,Multiple aircraft observed multiple UAS off th...,['24 NM SW of DIA'],DIA,NaN,NaN,NaN
33,"MOR received at 16/0312. On 01/15/21 at 0117, ...",['30 NM NW of MQO'],MQO,-120.759579,35.252260,MORRO BAY
34,TJGI reports an aircraft observed a red quad-c...,['3 NM W of TJIG'],TJIG,NaN,NaN,NaN
35,Massachusetts State PD notified the Tower pers...,['5 NM WSW of RWY'],RWY,NaN,NaN,NaN
36,Aircraft reported sensor hit at FL230 45 NM SE...,['45 NM SE of GBN'],GBN,-112.674283,32.956263,GILA BEND

In [8]:
nav_loc = join_uas_nav[join_uas_nav['NAME_TXT'].notnull()]
nav_loc

,REMARKS,UAS_LOC,IDENT,LONGITUDE,LATITUDE,NAME_TXT
0,FACSFAC VACAPES reports PIC reported a silver ...,['6NM E of RBX'],RBX,-75.696939,35.920508,WRIGHT BROTHERS
1,Reported a UAS 500 feet below aircraft while 3...,['3 NM E of OSI'],OSI,-122.281316,37.392505,WOODSIDE
2,Reported a silver and white fixed wing UAS off...,['11 NM SW of OSI'],OSI,-122.281316,37.392505,WOODSIDE
3,PIC reported a black rotary UAS 50 feet below ...,['2NM SW of PQF'],PQF,-96.529127,32.809373,MESQUITE
5,PIC reported a black and brown UAS 1-meter in ...,['10NM NW of CMK'],CMK,-73.581330,41.280102,CARMEL
6,Forest Service Firehelicopter reported UASflew...,['7 NM NNE of DBL'],DBL,-106.894691,39.439352,RED TABLE
7,LUKE AFB called and advised of a UAS sighting ...,['20 NM SW of GBN'],GBN,-112.674283,32.956263,GILA BEND
8,"Reported NMAC with a black with red UAS, 4 to ...",['26 NM SE of JLI'],JLI,-116.585947,33.140463,JULIAN
9,PIC reported a UASoff right side just below Ai...,['6NM NE of COL'],COL,-74.159729,40.311641,COLTS NECK
10,"PIC reported a dark colored UAS 1,000 feet abo...",['10NM W of DPK'],DPK,-73.303659,40.791758,DEER PARK
11,Reported taking evasive action to avoid a UAS ...,['16 NM SW of BQS'],BQS,-93.875285,39.630563,BRAYMER
12,Pilot reported a black UAS pass below while NW...,['7NM ENE of OSI'],OSI,-122.281316,37.392505,WOODSIDE
15,PIC reported UAS 300Ft below at 6000FT 7NM S o...,['7NM S of ELB'],ELB,-117.731096,33.676035,EL TORO
16,PIC reported a quad copter UAS pass 200 feetin...,['10NM SE of FMG'],FMG,-119.656084,39.531270,MUSTANG
18,PIC reported a black phantom DJI quad copter U...,['11NM ESE of BAE'],BAE,-88.284351,43.116861,BADGER
19,"Reported observing a black, Phantom style Quad...",['15NM WNW of OVR'],OVR,-95.736861,41.167174,OMAHA
21,Reports a UAS 100 feet above the aircraft at 1...,['10 NM W of SIE'],SIE,-74.800345,39.095517,SEA ISLE
22,Aircraft was possibly struck by a UAS while de...,['2 NM SE of OCN'],OCN,-117.417733,33.240639,OCEANSIDE
23,VFR aircraft observed a grey UAS off the 12 o'...,['3NM NE of HAR'],HAR,-77.069561,40.302248,HARRISBURG
24,"PIC observed a black UAS with purple lights, 5...",['8NM NE of CME'],CME,-104.621255,33.337484,CHISUM
25,FASFAC/VACAPES reported an aircraft observed a...,['29 NM NE of CCV'],CCV,-75.997655,37.347546,CAPE CHARLES
26,VFR aircraft observed a UAS off the left side ...,['7NM N of FFU'],FFU,-111.940543,40.274901,FAIRFIELD
27,Aircraft (AIRTAC9) observed a UAS operating in...,['12 NM NW of UTI'],UTI,-113.517912,37.017625,ST GEORGE
33,"MOR received at 16/0312. On 01/15/21 at 0117, ...",['30 NM NW of MQO'],MQO,-120.759579,35.252260,MORRO BAY
36,Aircraft reported sensor hit at FL230 45 NM SE...,['45 NM SE of GBN'],GBN,-112.674283,32.956263,GILA BEND

In [10]:
# Export the 25 records to seperate csv file
nav_loc.to_csv('non-std_uasLoc_Nav.csv', index = False)

##  Check the unmatched records

In [29]:
len(join_uas_nav[join_uas_nav['NAME_TXT'].isnull()])
# We have 12 remaining records

12

## Export the remaining 12 records to new dataframe

In [31]:
remaining = join_uas_nav[join_uas_nav['NAME_TXT'].isnull()]
remaining.to_csv('non-std_uasLoc_noAir_noNav.csv', index = False)

## Check for runways in the remaining records

In [32]:
rwy = remaining[remaining["IDENT"] == 'RWY']
rwy # We have 5 records

,REMARKS,UAS_LOC,IDENT,LONGITUDE,LATITUDE,NAME_TXT
13,Pilot reported a white and orange UAS approxim...,['1NM WSW of RWY'],RWY,NaN,NaN,NaN
14,While Aircraft was operating in the pattern at...,['5NM N of RWY'],RWY,NaN,NaN,NaN
28,San Diego PD observed a UAS 1.5NM S of RWY 27 ...,['5NM S of RWY'],RWY,NaN,NaN,NaN
29,Security Guard observed a UAS pass overhead at...,['4 NM E of RWY'],RWY,NaN,NaN,NaN
35,Massachusetts State PD notified the Tower pers...,['5 NM WSW of RWY'],RWY,NaN,NaN,NaN

## Save the runways in new csv file

In [20]:
rwy.to_csv('non-std_uasLoc_runways.csv', index = False)