#### Import needed libraries

In [1]:
import pandas as pd
import re
import copy

#### Read in csv file

In [2]:
nonstandard_original = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/Non-Standard_Runways.csv')
nonstandard_original

                                               REMARKS UAS Location
0    W-ROC reports aircraft reported a white UAS at...           []
1    Aircrew reported observing a light from a UAS,...           []
2    Reported a red quad-copter UAS 2 feet in diame...           []
3    A pedestrian reported observing a UAS hovering...           []
4    Observed a large UAS 50 feet off the left side...           []
..                                                 ...          ...
487  1647 EDT / 2047 UTC 8/21/2021\r\nRA13U, P28A, ...           []
488  2155 EDT / 0155 UTC 8/23/2021\r\nChicago OHare...           []
489  1756 EDT / 2156 UTC 8/23/2021\r\nChicago OHare...           []
490  MA State PD observed a UAS over the airport at...           []
491  2110 EDT / 0110 UTC  8/26/2021\r\nMASS State P...           []

[492 rows x 2 columns]

#### Make a copy of the csv file so changes will not affect the original dataset

In [3]:
nonstandard = copy.copy(nonstandard_original)

#### Do some cleaning for consistency & to make it easier when using regular expressions

In [4]:
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('\r\n',' ')
nonstandard['REMARKS']=nonstandard['REMARKS'].str.lower()
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('rwy\.','')
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('runway\.','')
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('\.',' ')
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('rwy ','rwy')
nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('runway','rwy')

<ipython-input-4-2a68618128c4>:3: FutureWarning: The default value of regex will change from True to False in a future version.
  nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('rwy\.','')
<ipython-input-4-2a68618128c4>:4: FutureWarning: The default value of regex will change from True to False in a future version.
  nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('runway\.','')
<ipython-input-4-2a68618128c4>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  nonstandard['REMARKS']=nonstandard['REMARKS'].str.replace('\.',' ')

#### Extract all runways from the REMARKS field

In [5]:
# Create a list that has all runways extracted from remarks
remark_runway = []
remarks = nonstandard['REMARKS']

# Use regular expressions to extract all runways
runway_regex = 'rwy ?[0-9][ 0-9.]?[rlc 0-9.]?'

# For loop to find runways
for i in range(len(remarks)):
    runway = re.findall(runway_regex, str(remarks[i]))
    remark_runway.append(runway)

#### Extract all headings from REMARKS field

In [6]:
# Create a list that has all headings extracted from  remarks
remark_head_dir = []
remarks = nonstandard_original['REMARKS']

# Using regular expression for the heading/direction
headir_regex = '[0-9][0-9]*[0-9]*\s?NM* [N|S|E|W|NW|NE|SW|SE|SSE|SSW|SNE|SNW|NNE|NSE|NNE|NNW|WSW|WNW|WSE|WNE|ENE|ESE|ESW|ENW]*'

# For loop through remarks to find headings
for i in range(len(remarks)):
    head_dir = re.findall(headir_regex, str(remarks[i]))
    remark_head_dir.append(head_dir)

#### Extract airports' Ident from REMARKS field

In [7]:
# Import airports dataset
airports = pd.read_csv('C:/Users/Olga/Desktop/GMU/DAEN690/LEGO/airports_cleaned.csv')

#create airport regex which is list a of airports identifiers separated by |
airports_regex = '|'.join(airports["IDENT"].tolist())

# Create a list that has all airports' identifiers
remark_airports = []
remarks = nonstandard_original['REMARKS']

#use regex to find airports
for k in range(len(remarks)):
    ap = re.findall(airports_regex, str(remarks[k]))
    remark_airports.append(ap)

#### Add all extracted values into new dataframe

In [8]:
# Create a new dataframe that contains all the extracted info in addition to the original REMARKS field
runway_df = pd.DataFrame()
runway_df['REMARKS'] = nonstandard_original['REMARKS']
runway_df['RUNWAY'] = remark_runway
runway_df['DIRECTION'] = remark_head_dir
runway_df['AIRPORT'] = remark_airports
runway_df

,REMARKS,RUNWAY,DIRECTION,AIRPORT
0,W-ROC reports aircraft reported a white UAS at...,[rwy34r],[],"[ROC, WY34]"
1,"Aircrew reported observing a light from a UAS,...",[rwy11r],[],"[WY11, SRV]"
2,Reported a red quad-copter UAS 2 feet in diame...,[rwy 16 ],[],[]
3,A pedestrian reported observing a UAS hovering...,[rwy 25l],[],[]
4,Observed a large UAS 50 feet off the left side...,[rwy 17c],[],[]
...,...,...,...,...
487,"1647 EDT / 2047 UTC 8/21/2021\r\nRA13U, P28A, ...","[rwy26 , rwy19, rwy8 ]",[1 NM W],"[A13, 28A, PNS, PNS, TCT, TCT, PNS, PNS, DEN, ..."
488,2155 EDT / 0155 UTC 8/23/2021\r\nChicago OHare...,"[rwy 9c, rwy 9c]",[],"[ORD, TCT, RAC, NY39, ORD, NY39, ORD, ORD, TCT..."
489,1756 EDT / 2156 UTC 8/23/2021\r\nChicago OHare...,"[rwy 9c, rwy 9c]",[],"[ORD, TCT, RAC, NY39, ORD, NY39, ORD, ORD, TCT..."
490,MA State PD observed a UAS over the airport at...,"[rwy 15r, rwy 27 ]",[],"[AWO, AWO]"
491,2110 EDT / 0110 UTC 8/26/2021\r\nMASS State P...,"[rwy15r, rwy27 , rwy27 , rwy27 ]",[],"[WY15, WY27, BOS, WY27, WY27]"

#### Export to csv file

In [9]:
runway_df.to_csv('Non-std-492Runways.csv', index = False)