# Removing Duplicated from Incidents_Cleaned_Standard.csv
***
***DAEN690***

***George Mason University***

***Author:*** Grace Cox (Team LEGO)

***Date:*** October 25, 2021
***
`This Jupyter Notebook is used to remove the duplicate remarks within the Incidents_Cleaned_Standard.csv file that contains 5191 total records for which the text within the REMARKS field is determined to be of Standard Format. After duplicate removal, there are 5167 records remaining.`

## Import Statements

In [1]:
# Import Statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import chart_studio.plotly as py
import re
import geopy
from geopy.distance import geodesic

from IPython.display import display, HTML

In [7]:
# Read in Incidents_Cleaned_Standard.csv (contains 5191 records that are of 'Standard Format')
faa_standard = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Incidents_Cleaned_Standard.csv')

In [8]:
faa_standard

,dateonly,timeonly,DATE,POD,PRIMARYCODE,SECONDARYCODES,REPORTINGFACILITY,REMARKS,FACILITY.CEDAR,UTCTIME24.CEDAR,...,UASLAT.CEDAR,UASFORMATION.CEDAR,CLOSESTPROXIMITY.CEDAR,UASWEIGHTGT55.CEDAR,UASDIM.CEDAR,UASFWROTOR.CEDAR,PILOTREPORTEDNMAC.CEDAR,TCASRA.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR
0,1/1/2018,10:46,2018-01-01T10:46Z,DEN,UAS,NaN,CLE,Aircraft observed alarge orange UAS with flash...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2018,14:37,2018-01-01T14:37Z,DEN,UAS,NaN,SLC,"Aircraft observed a UAS while at 5,000 feet 11...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/1/2018,14:39,2018-01-01T14:39Z,DEN,UAS,NaN,SLC,"Aircraft observed a UAS while at 5,000 feet 11...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/13/2018,12:04,2018-01-13T12:04Z,DEN,UAS,NaN,SJC,Aircraft observed a UAS 100 feet above the Air...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/15/2018,8:52,2018-01-15T08:52Z,DEN,UAS,NaN,POC,Aircraft observed a UAS operating 400 feet bel...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5186,7/31/2020,20:47,2020-07-31T20:47Z,DEN,UAS,NaN,ZAB,Aircraft reported a 50' diameter white balloon...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5187,1/29/2021,17:50,2021-01-29T17:50Z,DEN,UAS,NaN,M03,Aircraft observed a white UAS while S bound at...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5188,4/6/2021,18:07,2021-04-06T18:07Z,DEN,UAS,NaN,ZAB,Aircraft reported a UAS sensor hit while N bou...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5189,4/20/2021,18:39,2021-04-20T18:39Z,DEN,UAS,NOTIFICATION-NONE,PRC,From MOR: Aircraft reported a NMAC with a flat...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5190,6/9/2021,2:01,2021-06-09T02:01Z,DEN,UNIDENTIFIED AERIAL PHENOMENON,"MOR, UAS",ZLA,Aircraft reported an unidentified aerial pheno...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
faa_standard_noDup = faa_standard.drop_duplicates(subset = ['REMARKS'])

In [10]:
# Export final new_df to .csv 
faa_standard_noDup.to_csv('Incidents_Cleaned_Standard_NoDuplicates.csv', index = False)