In [2]:
import pandas as pd
import numpy as np

In [41]:
complete = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/complete_std_UAS_4093.csv')
#complete

In [7]:
air38 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/air38OF501_EXCEPTIONS.csv')
#air38

In [40]:
air14 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/airports245_nomatch14.csv')
#air14

In [44]:
dp1a = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/dp1OF471_EXCEPTIONS.csv')
#dp1a

In [45]:
dp1b = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/dp1OF501_EXCEPTIONS.csv')
#dp1b

In [54]:
rwy2 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/rwy2OF302_EXCEPTIONS.csv')
#rwy2

In [39]:
incidents501 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Grace_All_Points_Standard_501OUTOF1072.csv')
#incidents501

In [33]:
incidents471 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Grace_All_Points_Standard_471OUTOF1543.csv')
#incidents471

In [34]:
incidents5167 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Incidents_Cleaned_Standard_NoDuplicates.csv')
#incidents5167

In [52]:
incidents302 = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Grace_All_Points_rwy302_allrows.csv')
#incidents302

In [55]:
allrows = pd.merge(rwy2, incidents302, how = 'left', on = 'REMARKS')
allrows

,REMARKS,UASLOCATION_x,IDENT_x,RWYLOCATION_x,Distance_NM_x,UASLOCATION_y,IDENT_y,RWYLOCATION_y,Distance_NM_y,RWYDESIGNATOR,...,UASFORMATION.CEDAR,CLOSESTPROXIMITY.CEDAR,UASWEIGHTGT55.CEDAR,UASDIM.CEDAR,UASFWROTOR.CEDAR,PILOTREPORTEDNMAC.CEDAR,TCASRA.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR,DATASET
0,Aircraft observed a quad copter uas off the ri...,.25 NM N of APA,APA,NaN,0.25,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AIRPORT
1,Aircraft observed a white uas while S bound at...,1 NM N of M01,M01,RWY 18,1.00,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RUNWAY

In [56]:
# Export to .csv file
allrows.to_csv('rwy2OF302_EXCEPTIONS_allrows.csv', index = False)

In [26]:
air14['REMARKS'][0]

'Aircraft observed a uas at 1,500 whileW bound at2,000 feet17 NMNE of FAK. No evasive action was taken.Louisa County Sheriffnotified at 434-589-3007.'

In [25]:
incidents['REMARKS'][0]

'Aircraft observed alarge orange UAS with flashing lights 1 NM off the right side and400 feet below while at 1,000 feet 3 NM NNW of CLE. No evasive action was taken. Cleveland PD notified at 216-265-6055. '