In [1]:
# Import Statements
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
from plotly.subplots import make_subplots
import plotly.graph_objects as go
import chart_studio.plotly as py
import re

from IPython.display import display, HTML

In [3]:
unkn_std_fmt = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/unkn_std_format.csv')
faa_standard = pd.read_csv('C:/Users/grace/OneDrive/Desktop/GMU/DAEN690/Incidents_Cleaned_Standard_NoDuplicates.csv')

In [4]:
unkn_std_fmt

,index,REMARKS,UAS_Location_Runways
0,1,Aircraft observed a UAS operating 400 feet bel...,UNKN
1,2,Aircraft observed a black UAS 4-5 feet in diam...,UNKN
2,6,Aircraft observed an orange UAS below and to t...,UNKN
3,9,Aircraft observed a small UAS with lights whil...,UNKN
4,10,"Aircraft observed a UAS while WNW bound at 4,5...",UNKN
...,...,...,...
1538,2128,Aircraft reported a quad-copter UAS approximat...,UNKN
1539,2130,"Aircraft reported a UAS off the left side, whi...",UNKN
1540,2133,Aircraft reported a dark blue UAS at 12 o'cloc...,UNKN
1541,2138,Aircraft reported a black UAS with red lights ...,UNKN
1542,2141,Aircraft reported a 50' diameter white balloon...,UNKN

In [5]:
faa_standard

,dateonly,timeonly,DATE,POD,PRIMARYCODE,SECONDARYCODES,REPORTINGFACILITY,REMARKS,FACILITY.CEDAR,UTCTIME24.CEDAR,...,UASLAT.CEDAR,UASFORMATION.CEDAR,CLOSESTPROXIMITY.CEDAR,UASWEIGHTGT55.CEDAR,UASDIM.CEDAR,UASFWROTOR.CEDAR,PILOTREPORTEDNMAC.CEDAR,TCASRA.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR
0,1/1/2018,10:46,2018-01-01T10:46Z,DEN,UAS,NaN,CLE,Aircraft observed alarge orange UAS with flash...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1/1/2018,14:37,2018-01-01T14:37Z,DEN,UAS,NaN,SLC,"Aircraft observed a UAS while at 5,000 feet 11...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1/13/2018,12:04,2018-01-13T12:04Z,DEN,UAS,NaN,SJC,Aircraft observed a UAS 100 feet above the Air...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1/15/2018,8:52,2018-01-15T08:52Z,DEN,UAS,NaN,POC,Aircraft observed a UAS operating 400 feet bel...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1/17/2018,1:25,2018-01-17T01:25Z,DEN,UAS,NaN,SAN,Aircraft observed a multi-colored UAS off the ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5162,6/21/2020,18:30,2020-06-21T18:30Z,DEN,UAS,NaN,N90,Aircraft reported a UAS 3 NM N of MMU while E ...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5163,7/31/2020,20:47,2020-07-31T20:47Z,DEN,UAS,NaN,ZAB,Aircraft reported a 50' diameter white balloon...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5164,4/6/2021,18:07,2021-04-06T18:07Z,DEN,UAS,NaN,ZAB,Aircraft reported a UAS sensor hit while N bou...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5165,4/20/2021,18:39,2021-04-20T18:39Z,DEN,UAS,NOTIFICATION-NONE,PRC,From MOR: Aircraft reported a NMAC with a flat...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5166,6/9/2021,2:01,2021-06-09T02:01Z,DEN,UNIDENTIFIED AERIAL PHENOMENON,"MOR, UAS",ZLA,Aircraft reported an unidentified aerial pheno...,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
unknown_standard_complete = pd.merge(unkn_std_fmt, faa_standard, on='REMARKS', how='left')

In [7]:
unknown_standard_complete

,index,REMARKS,UAS_Location_Runways,dateonly,timeonly,DATE,POD,PRIMARYCODE,SECONDARYCODES,REPORTINGFACILITY,...,UASLAT.CEDAR,UASFORMATION.CEDAR,CLOSESTPROXIMITY.CEDAR,UASWEIGHTGT55.CEDAR,UASDIM.CEDAR,UASFWROTOR.CEDAR,PILOTREPORTEDNMAC.CEDAR,TCASRA.CEDAR,SUMMARY.CEDAR,QAFINDINGS.CEDAR
0,1,Aircraft observed a UAS operating 400 feet bel...,UNKN,1/15/2018,8:52,2018-01-15T08:52Z,DEN,UAS,NaN,POC,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Aircraft observed a black UAS 4-5 feet in diam...,UNKN,1/23/2018,23:20,2018-01-23T23:20Z,DEN,UAS,NaN,D10,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,6,Aircraft observed an orange UAS below and to t...,UNKN,2/5/2018,0:54,2018-02-05T00:54Z,DEN,UAS,NaN,NCT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,9,Aircraft observed a small UAS with lights whil...,UNKN,2/9/2018,9:08,2018-02-09T09:08Z,DEN,UAS,NaN,JAX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10,"Aircraft observed a UAS while WNW bound at 4,5...",UNKN,2/14/2018,7:06,2018-02-14T07:06Z,DEN,UAS,NaN,SBN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1538,2128,Aircraft reported a quad-copter UAS approximat...,UNKN,12/18/2019,0:32,2019-12-18T00:32Z,DEN,UAS,NaN,DVT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1539,2130,"Aircraft reported a UAS off the left side, whi...",UNKN,1/1/2020,22:35,2020-01-01T22:35Z,DEN,UAS,NaN,SMO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1540,2133,Aircraft reported a dark blue UAS at 12 o'cloc...,UNKN,1/29/2020,23:40,2020-01-29T23:40Z,DEN,UAS,NaN,SCT,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1541,2138,Aircraft reported a black UAS with red lights ...,UNKN,2/27/2020,22:00,2020-02-27T22:00Z,DEN,UAS,NaN,S46,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1542,2141,Aircraft reported a 50' diameter white balloon...,UNKN,7/31/2020,20:47,2020-07-31T20:47Z,DEN,UAS,NaN,ZAB,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
# Export to .csv file
unknown_standard_complete.to_csv('unknown_standard_complete.csv', index = False)